$text-color: #cccccc;

html, body {
  font-size:10px;
  background-color:#2f2f2f;
  margin:0;
  padding:0;
  color:$text-color;
}

.tile {
  user-select:none;
  box-sizing:border-box;
  border:1px solid black;
  position:absolute;
  background-color: #8d651a;
  font-size:2rem;
  width:5rem;
  height:5rem;
  line-height:5rem;
  text-align:center;
  transition:0.5s;
  cursor:pointer;

  &.empty {
    background-color:#2f2f2f;
    z-index:-1;
  }
  &.selected {
    background-color:green;
  }
}

.container {
  width:70rem;
  margin-left:auto;
  margin-right:auto;
}

.game-container {
  margin-top:10rem;
  position:relative;
}

.btn {
  background-color:green;
  //border:0px;
  outline:none;
  font-size:2rem;
  width:20rem;
  cursor:pointer;
  color:$text-color;
}

.game-won {
  font-size:50px;
  color:lime;
}